html, body {
  width: 100%;
}
body{margin:0px;
   /* background: grey;*/
    }
.headerBlock{
    height:50px;
    width:100%;
    border-bottom: 0px solid black;
}
.leftminBlock{
    width:20%;
    height:100px;
   background-color:#FFA500;
    float:left;
    overflow: hidden
}
.rightbigBlock{
    width:80%;
    height:100px;
    background-color:black;
    float:right; 
}
.textBlock{
    text-align:left;
    padding-left:20px;
    color:white;
}
/*.icon_1{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
  /*  align-items: center;  и вертикали */
  /*  width: 200px;  задали размеры блоку-родителю */
   /* height: 200px;*/
  /*  overflow: hidden;
} */
.icon_1{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}