html, body {
  width: 100%;
}
body{
    margin:0px;
   background: #f0ebd0;
    }
.headerBlock{
    height:70px;
    width:100%;
    border-bottom: 0px solid black;
}
.leftminBlock{
    width:20%;
    height:50px;
   background-color:#FFA500;
    float:left;
    /*overflow: hidden*/
    border-radius: 0 0 6px 0;
}
.rightbigBlock{
    width:80%;
    height:50px;
    background-color:black;
    float:right; 
    border-radius: 0 0 0 6px;
}
.textBlock{
    text-align:left;
    padding-left:20px;
    color:white;
    padding-top:20px;
}
.icon_1{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center;
  
} 
.icon_1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.yellowColor{
    color:#FFA500;
}
#video,#extra,#music,#foto{
    color:#bf6818;
}
h1{
    text-align: center;
}
.containerMain{
    border: 1px solid black;
    width: 95%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}